body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 50px;
    padding: 0;
    width: 90%;
    table-layout: fixed;

}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.o-nav ol,
.o-nav ul {
    list-style: none;
    padding-left: 30px;
}

.o-nav--inline a,
.o-nav--inline li {
    display: inline-block;
}

a,
.c-pagination-nav__link {
    color: #f1ecec;
    text-decoration: none;
}

.c-pagination-nav__link {
    padding: 0.5em 0.5em 0.4em;
    line-height: 0.1;
    background-color: rgb(90, 72, 63);
    border-radius: 2px;
    margin-right: 25px;
}

.red{color:red;}
.blue{color: blue}

.col_soo {

}
    span {
        font-size: 1.3em;
	color: #666666;
    }
    p {
        font-size: 1.5em;
	text-decoration: underline;
    }
    div {

    }
.table_soo {
    background-color: #fffff;
}

