
.login-page {
    width: 360px;
    background: #FCD94B 0% 0% no-repeat padding-box;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FCD94B 0% 0% no-repeat padding-box;
    max-width: 360px;
    margin-top: 140px;
    padding: 45px;
    text-align: center;
}

.form input {
    top: 394px;
    left: 545px;
    width: 350px;
    height: 48px;
    font-family: "Roboto", sans-serif;
    outline: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #00000029;
    border: 1px solid #F6F6F7;
    border-radius: 3px;
    opacity: 1;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    top: 550px;
    left: 545px;
    width: 350px;
    height: 50px;
    background: #232328 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 3px;
    opacity: 1;
}

.form .message {
    top: 280px;
    left: 616px;
    width: 209px;
    height: 24px;
    text-align: left;
    font: normal normal normal 20px/24px AppleSDGothicNeoM00;
    letter-spacing: 0.14px;
    color: #232328;
    opacity: 1;
}

.form .message a {
    color: #4caf50;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 30px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    background: #FCD94B 0% 0% no-repeat padding-box;

}

body {
    background: #FCD94B 0% 0% no-repeat padding-box;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
